@import "./responsive";

.newsletter{
    padding: 5rem 7rem 10rem 7rem;

    @include mobile{
        padding: 2rem ;
    }
 
    h3{
        font-size: 4rem;
        color:$white;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    
    p{
        padding:1rem 0;;
        font-size: 2rem;
        color:$white;
    }
    
    form{
        margin:1rem auto;
        max-width: 60rem;
        display: flex;
        padding:1rem;
    
        .email{
            width: 100%;
            padding:0 1.4rem;
            font-size: 1.6rem;
        }

        .news-btn{
            @extend .btn;
            background-color: $white;
            color: $main-color;
                
                &:hover{
                    background-color: $main-color;
                    color: $white;
                }
            
        }
    }
}
